torch==2.10.0
torchvision==0.25.0
numpy==1.26.4
pillow==12.1.1
fastapi==0.129.0
uvicorn==0.41.0
python-multipart==0.0.22
mlflow==3.9.0
dvc==3.66.1
scikit-learn==1.8.0
matplotlib==3.10.8
pytest==9.0.2
